<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../public/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="../public/css/general.css">
</head>
<body>
<div class="row rowBackground">
    <div class="col-sm text-center">
        <h1>Agenda</h1>
    </div>
</div>
<div class="row">

</div>
<script src="../public/bootstrap/js/bootstrap.min.js"></script>
<script src="../public/fontawesome/js/all.min.js"></script>
</body>
</html>